.play-video {
    .video-wrapper {
        width: 100%;
        height: 450px;
        background: black;

        .iframe-video {
            width: 100%;
            height: 100%;
            border: none;
        }
    }

    .no-video {
        background: #000;
        height: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 20px;
    }
}